version: '3'

services:
  app:
    image: ghcr.io/adric2001/sys-monitor:main
    restart: always
    expose:
      - "5000"  

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80" 
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    depends_on:
      - app